name: ROS 2 Nix CI (Strongest)

on:
  push:
    branches: [ main, develop ]
    # ドキュメントだけの変更ならCIを回さない（節約）
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"

    steps:
    - uses: actions/checkout@v4

    - uses: DeterminateSystems/nix-installer-action@v16

    - uses: DeterminateSystems/magic-nix-cache-action@v8

    - uses: cachix/cachix-action@v15
      with:
        name: ros
        extraPullNames: ros

    - name: Build Workspace
      run: |
        nix develop .#ci --accept-flake-config --command bash -c "cd ros_ws && colcon build --symlink-install"
